%h1 Listing of Statements
%table.table
 %thead
  %th Name
  %th Description
 %tbody
  -@statement.each do |statement|
   %tr
    %td
     = statement.name
    %td
     = statement.description
    %td
     = link_to 'Show', statement, class: 'btn btn-default btn-xs'
     = link_to 'Edit', edit_statement_path(statement),
                       class: 'btn btn-default btn-xs'
     = link_to 'Destroy', statement, :confirm => 'Are you sure?',
                                   :method => :delete,
                                   class: 'btn btn-xs btn-danger'
